<header>
</header>

<section class="header2">
    <img src="https://www.se.senai.br/assets/img/logo.png" alt="">

    <nav class="menu">
        <button class="menu-toggle" id="menuToggle">
            <img src="/IMG/Hamburger_icon.svg.png" alt="Menu" style="height:32px;width:32px;">
        </button>
        <div class="menu-items" id="menuItems">
            <button class="menu-item">Início</button>
            <button class="menu-item">Institucional</button>
            <button class="menu-item">Para Você</button>
            <button class="menu-item">Fale Conosco</button>
        </div>
    </nav>
</section>

<script>
document.getElementById('menuToggle').onclick = function() {
    document.getElementById('menuItems').classList.toggle('open');
};
</script>