@model Projeto_Dotnet8.Models.ViewModel.CriarMensagem
@{
    ViewData["Title"] = "Criar Solicitação";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/criar.css" />

</head>

<partial name="_Header" />


<body>

    <div class="titulo">
        <h1>Criar Solicitação</h1>
    </div>

    

        <form asp-action="Criar" method="post">

            @* Procura de Sala existente *@
            <label for="sala">Selecione a sala:</label>
            <select asp-for="SalaId" asp-items="@(new SelectList(Model.Salas, "ID", "Sala_Num"))" id="sala"
                name="SalaId" required>
                <option value="">Escolha uma sala</option>
            </select>

            <button type="submit" class="carregar" asp-controller="Principal" asp-action="Solicitacao" formnovalidate>Carregar Computadores</button>
            <a asp-controller="Principal" asp-action="Index" id="secundario">Voltar</a>
        </form>


    </section>
</body>

</html>