@model Projeto_Dotnet8.Models.ViewModel.CriarMensagem
@{
    ViewData["Title"] = "Criar Solicitação";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/criar.css" />

</head>

<partial name="_Header" />


<body>

    <div class="titulo">
        <h1>Criar Solicitação</h1>
    </div>

    <section class="container">

        <form asp-action="Criar" method="post">
            
            @* Procura de Sala existente, após a procura, verificar a existencia de Computadores presentes *@
            <label for="sala">Selecione a sala:</label>
            <select asp-for="SalaId" asp-items="@(new SelectList(Model.Salas, "ID", "Sala_Num"))" id="sala" name="SalaId" required>
                <option value="">Escolha uma sala</option>
            </select>
            
            @* Botão para recarregar a página e fazer com que a parte de seleção de computadores seja carregada *@
            
            <button type="submit" class="carregar" value="true" formnovalidate>Carregar Computadores</button>

            @* Área de seleção de computadores, para criar a mensagem ligada ao computador selecionado *@
            <label for="computador">Selecione o computador:</label>
            <select asp-for="ComputadorId" asp-items="@(new SelectList(Model.Computadores, "ID", "Nome"))" id="computador" name="ComputadorId" required>
                <option value="">Escolha um computador</option>
            </select>

            <label for="mensagem">Mensagem:</label>
            <textarea asp-for="Mensagem" id="mensagem" name="Mensagem" rows="5" cols="30" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </section>    </section>
</body>

</html>