@model Projeto_Dotnet8.Models.ComputadorModels
@{
    ViewData["Title"] = "Confirmar Deletar";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/deletar.css" />



</head>


<body>

    <partial name="_Header" />

  

    <section class="container">
        @* Processo de exclusão do Pc do Banco De Dados *@
        <h1>Confirmar Deletar</h1>
        <p>Você tem certeza que deseja deletar o Computador: @Model.Nome?</p>

        <form asp-action="Deletar" method="post">
            <input type="hidden" asp-for="ID" />
            <button type="submit" class="btn btn-success">Sim</button>
            <a asp-controller="Principal" asp-action="Editar" class="btn btn-danger">Não</a>
        </form>
    </section>
</body>