@{
    ViewData["Title"] = "Listar Solicitações";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FGS Prototipo</title>
    <link rel="stylesheet" href="~/css/listar.css" />


</head>

<body>
    <partial name="_Header" />
    

    </section>
</body>