@model IEnumerable<Projeto_Dotnet8.Models.ComputadorModels>
@{
    ViewData["Title"] = "Listar Solicitações";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FGS Prototipo</title>
    <link rel="stylesheet" href="~/css/listar.css" />

    @section Scripts {
        <script src="~/js/listar.js"></script>
    }


</head>


<body>

    <partial name="_Header" />

    <div class="titulo">
        <h1>Listar Solicitações</h1>
    </div>

    <section class="container">

        <ul class="computers-list">
            @if (Model != null && Model.Any())
            {
                foreach (ComputadorModels computador in Model)
                {
                    <p>@computador.ID</p>
                    <p>@computador.Nome</p>
                   @*  <li>
                        <div class="computer-header">
                            <span>
                                <span class="status-circle status-ok"></span>
                                Computador 1
                            </span>
                            <button class="dropdown-btn" onclick="toggleDropdown(this)">Detalhes</button>
                        </div>
                        <div class="dropdown-box" style="display:none;">
                            <textarea placeholder="Digite sua mensagem..."></textarea>
                        </div>
                    </li> *@

                }
            }
        </ul>
    </section>
</body>