<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<body>

    @* PUXA O HEADER COMPARTILHADO *@
    <partial name="_Header" />
 

    <!-- CONTEÚDO LOGIN -->
    <main class="login-container">
        <div class="login-box">
            <h2>Acesse sua conta</h2>
            <form>
                <div class="input-group">
                    <label for="username">Registro do Aluno</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn-login">
                 <a asp-controller="Principal" asp-action="Index" id="editar">Entrar</a>
                </button>
                <p class="extra">
                    <a href="#">Esqueceu sua senha?</a>
                </p>
            </form>
        </div>
    </main>

</body>

</html>