*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-size: cover;
    background:
    linear-gradient(100deg, rgba(37, 4, 121, 0.855), rgb(255 0 0 / 0%) 70.71%),
    linear-gradient(28deg, rgb(184, 0, 31), rgb(0 255 0 / 0%) 70.71%),
    linear-gradient(280deg, rgba(212, 96, 7, 0.904), rgb(0 0 255 / 0%) 70.71%);
    height: 130vh;
}

header {
    color: white;
    height: 5vh;
    background-color: rgb(14,65,148);
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    height: 150px;
    padding-right: 30px;
}

.header2 img {
    height: 15vh;
    width: 56vh;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img {
    height: 32px;
    width: 32px;
}

.menu-items {
    display: flex;
    gap: 10px;
}

.menu-item {
    color: rgb(56, 56, 56);
    background-color: white;
    border: none;
    padding: 8px 14px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

a.menu-item {
    color: rgb(56, 56, 56);
    background-color: white;
    border: none;
    padding: 8px 14px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    text-align: center;
}

.menu-item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(249, 166, 52);
}
.menu-item {
    text-decoration: none;
}

@media (max-width: 1043px) {
    .menu-items {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        right: 0;
        top: 100%;
        width: 200px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        z-index: 100;
    }
    .menu-items.open {
        display: flex;
    }
    .menu-toggle {
        display: block !important;
    }
}

.titulo{
    background-color: rgb(249, 166, 52);
    height: 200px;
    width: 65vh;
    background-color: rgb(249, 166, 52);
    color: white;
    font-size: 25px;
    align-content: center;
    margin-top: 20px;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}	

.container {
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 500px;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
}

.btn-primary {
     background-color: rgb(14,65,148);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.btn-primary:hover {
      background-color: rgb(249, 166, 52);
}

